.react-calendar-heatmap .color-empty {
  fill: #1f1f1f;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #1e3a8a;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #2563eb;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #3b82f6;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #60a5fa;
}

/* Heatmap */
.day-cell {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.vacant-day {
  background: #111827;
}

.good-day {
  background: #22c55e;
}

.mid-day {
  background: #eab308;
}

.bad-day {
  background: #ef4444;
}

.today {
    color: white;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.disabled-day {
  opacity: 0.2;
}

.action-not-allowed {
  opacity: 0.3;
}
