@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --primary: #0c1119;
    --secondary: #141d30;
    --tertiary: #29394f;
    --hint: #ec4899;

    --color-text: white;
    --color-text-secondary: black;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--primary);
    color: var(--color-text);
}

.widget {
    position: relative;
    background: var(--secondary);
    border: 1px solid var(--tertiary);
    border-radius: 1.75rem;
    padding: 1.5rem;
    overflow-y: auto;
}

.widget-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text);
}

.opt-dropdown {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background: var(--tertiary);
}

.btn {
    border-radius: 0.75rem;         
    background-color: var(--hint);
    color: var(--color-text);

    font-weight: 500;              
    font-size: 0.875rem;          

    flex-shrink: 0;       

    transition: all 0.2s ease;       
}

.btn:hover {
    box-shadow: 0 0 10px var(--hint);
}

.btn:active {
    transform: scale(0.95);
}

/* Heatmap */

.react-calendar-heatmap .color-empty {
  fill: #1f1f1f;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #1e3a8a;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #2563eb;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #3b82f6;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #60a5fa;
}

/* Mood Heatmap */
.day-cell {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.vacant-day {
    /* background: #fafafa; */
    border: 3px solid white;
}

.empty-day {
    background-color: grey;
}

.good-day {
    background: #bfe7c6; /* soft pastel green */
}

.mid-day {
    background: #fff3b0; /* muted pastel yellow */
}

.bad-day {
    background: #ffb3c1; /* soft pastel red/pink */
}

.today {
    color: white;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.disabled-day {
  opacity: 0.2;
}

.action-not-allowed {
    border: none;
    background-color: var(--tertiary);
}
